### Recap
- countries
- populations

In [1]:
pop = [30.55, 2.77, 39.21]
countries = ["afghanistan","albania","algeria"]

In [6]:
pop[countries.index('algeria')]

39.21

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

## Dictionaries
- Accept different type
- Keys have to be "immutable" objects ->> Error
- add values
- edit value
- **in** Keyword
- delete any element

In [7]:
pop = {
    "afghanistan": 30.55,
    "albania": 2.77,
    "algeria": 39.21
}

In [8]:
pop['algeria']

39.21

## List vs Dictionaries

## Introudction to Pandas
- ##### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)

### Answer:  Pandas 
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series

## Case Study: population dataset of BRICS countries
- NOTE:
   - key (columns, label)
   - values(data, column by column)

### CREATING DATAFRAME

In [9]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

In [10]:
import pandas as pd

df = pd.DataFrame(bricks)
df.head()

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

change index values `df.index = []`

In [17]:
df = pd.DataFrame(bricks)
df.set_index("country", inplace=True)
df.head()

                capital    area  population
country
Brazil         Brazilia   8.516      200.40
Russia           Moscow  17.100      143.50
India         New Delhi   3.286     1252.00
China           Beijing   9.597     1357.00
South Africa   Pretoria   1.221       52.98

#### another way to create DATAFRAME is through csv (comma seperated files)

assume we have **'bricks.csv'** file in our directory

In [20]:
bricks_csv = pd.read_csv("./dataset/bricks.csv", index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### index and select data
- square brakets (type--> series) & double squrae brakets (type --> DataFrame)
- advance methods
    - loc
    - iloc

In [24]:
type(bricks_csv)

pandas.core.frame.DataFrame

In [22]:
type(bricks_csv.country)

pandas.core.series.Series

#### column slicing

In [25]:
bricks_csv.country # method-1

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [26]:
bricks_csv["country"] # method-2

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

Question: When to use `.` method and when to use `[]` <br>
Answer:

- When you have space in column name then use [] eg: df['area population']
- When you want to get multiple columns use [] eg: df[['country', 'area', 'population']]
    - rows as pandas series `[]` & dataframe `[[]]`

otherwise,
- We can use .methods to get only one column

In [30]:
required_col = ["country", "area", "population"]
bricks_csv[required_col]

         country    area  population
BR        Brazil   8.516      200.40
RU        Russia  17.100      143.50
IN         India   3.286     1252.00
CH         China   9.597     1357.00
SA  South Africa   1.221       52.98

#### row slicing

In [40]:
bricks_csv.loc['BR'] #series

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [35]:
bricks_csv.loc[['BR', 'RU', 'IN']]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [37]:
bricks_csv.iloc[0]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [38]:
bricks_csv.iloc[[0,1,2]] # specific rows more than one

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [55]:
bricks_csv[1:3]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

#### column & row slicing

In [50]:
bricks_csv.iloc[[0,1,2], 1:3] # using loc for column and row slicing

      capital    area
BR   Brasilia   8.516
RU     Moscow  17.100
IN  New Delhi   3.286

In [51]:
bricks_csv.loc[:, ['country', 'capital']] # using loc for column and row slicing

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

#### Quick Recap

- columns slicing
    - `bricks_csv.<column_name>` # to select single column without space
    - `bricks_csv['<colun_name>']` # to select single column with space
    - `bricks_csv[['column1', 'column2']]` # to select multiple columns

- row slicing
    - `bricks_csv[1:3]`
    - `bricks_csv.loc[['index1_name', 'index2_name', ....]]` # for single row without list
    - `bricks_csv.iloc[[1, 2, ....]]` # for single row without list
      
- row and column slicing
    - `bricks_csv.iloc[[0,1,2], 1:3]` --> [rows, column]
    - `bricks_csv.loc[:, ['country', 'capital']]` --> [rows, column]